<div class="container">
    <div class="header"> 
        <h2>Busca Frequência por Nome</h2>
    </div>
    <div class="form">
        <label for="nome">Nome</label>
    </div>
    <div class="form">
        <input type="text" id="nome" [(ngModel)]="nome" name="nome" required>
    </div>
    <div class="buttons" style="margin-top: 20px;">
        <button class="cancel-button" type="button" (click)="cancelar()">Cancelar</button>
        <button class="search-button" type="button" (click)="buscarNomes()">Buscar</button>
    </div>
</div>
