/* Estilos gerais */
.container {
    padding: 20px;
    text-align: center;
}

/* Estilos do cabeçalho */
.header {
    background-color: #2b018d;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

.back-button {
    display: inline-block;
    background-color: #2b018d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.back-arrow {
    margin-right: 10px;
    font-size: 30px;
}

/* Estilos do título */
h2.title {
    text-align: left;
    margin-bottom: 10px;
    background-color: #2b018d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos da tabela */
.table-container {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: none;
    padding: 12px;
    text-align: center;
    white-space: normal;
}

/* Estilos específicos da tabela */
.table-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cinza claro */
}



@media (max-width: 768px) {
    .table-container {
        width: 100%;
    }
}