.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.back-arrow {
    margin-right: 5px;
}

.sub-header {
    font-size: 24px;
    margin-top: 20px;
}

.table-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.table-container {
    display: inline-block;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    white-space: normal;
}
