<div class="container">
    <div class="table-container">
        <h2 class="title">
            <a routerLink="" class="back-button">
                <span class="back-arrow">←</span> 
            </a>
            Frequência por {{ nomePesquisado }}
        </h2>
        <table>
            <tr>
                <th>#</th>
                <th>Década</th>
                <th>Frequência</th>
            </tr>
            <tr *ngFor="let frequencia of frequenciasPorDecada; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ frequencia.decada }}</td>
                <td>{{ frequencia.frequencia }}</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td>{{ totalFrequenciaFormatado }}</td>
            </tr>
        </table>
        <div *ngIf="frequenciasPorDecada.length === 0" class="sem-dados">
            <h3>Nenhum dado encontrado</h3>
        </div>
    </div>
</div>
